.top-bar {
  background-color: var(--pipa-blue);
  color: white;
  height: 8vh;
}

.main {
  flex-grow: 10;
  height: 91vh;
}

.side-menu {
  flex-grow: 1;
  height: 91vh;
  background-color: var(--gray-background);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  box-shadow: 2px 4px 14px 1px gray;
}

.side-menu > ul > li {
  font-size: 1.4em;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.side-menu > ul > li > ul > li {
  padding: 5px 0px 5px 20px;
}

.item-menu {
  text-decoration: none;
  color: var(--text-color);
}

.user-menu {
  display: flex;
  flex-direction: row-reverse;
}

.user-menu-content {
  position: absolute;
  box-shadow: 2px 4px 14px 1px gray;
  padding: 10px;
  background-color: var(--gray-background);
  color: var(--text-color);
  min-width: 10vw;
  text-align: right;
  font-size: 1.2rem;
  border-radius: 8px;
}

.user-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
