<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/reset.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="/css/base/base.css">
  <link rel="stylesheet" href="/css/base/flex.css">
  <link rel="stylesheet" href="/css/base/attributes.css">
  <link rel="stylesheet" href="/css/base/position.css">
  <link rel="stylesheet" href="/css/base/font.css">
  <link rel="stylesheet" href="/css/base/size.css">
  <link rel="stylesheet" href="/css/base/icon.css">
  <link rel="stylesheet" href="/css/base/button.css">
  <link rel="stylesheet" href="/css/base/table.css">
  <link rel="stylesheet" href="/css/base/card.css">
  <link rel="stylesheet" href="/css/base/form.css">
  <link rel="stylesheet" href="/css/base/alert.css">
  <link rel="stylesheet" href="/css/page-title.css">