<div class="flex-row-container flex-center top-bar px-20" id="main__page-title">
  <div class="box-3 text-left">
    <div class="icon icon-menu icon-24 icon-color-white icon-click pointer" id="sideMenuIcon"></div>
  </div>
  <div class="box-6 text-center font-2-6">
    <h2>
      <%= pageTitle %>
    </h2>
  </div>
  <div class="box-2">
    <div class="flex-row-container-reverse">
      <div class="box-s1">
        <div class="icon icon-user icon-36 icon-color-white icon-click pointer" id="userMenuIcon"></div>
        <div class="user-menu">
          <div class="user-menu-content hidden" id="userMenuContent">
            <div class="user-menu-item pointer icon-click">
              <div class="icon icon-user icon-24 icon-color-text"></div>
              <p>Usuário</p>
            </div>
            <hr />
            <div class="user-menu-item pointer icon-click" id="logoutIcon">
              <div class="icon icon-logout icon-24 icon-color-text"></div>
              <p>Sair</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex-row-container">
  <div id="side-menu" class="side-menu hidden">
  </div>