<%- include('./includes/header.ejs') %>
  <link rel="stylesheet" href="css/404.css">
  <%- include('./includes/middle-head-body.ejs') %>
    <%- include('./includes/page-title.ejs') %>

      <div class="flex-box container-box">
        <div class="content-box">
          <h2>Página não encontrada</h2>
        </div>
      </div>
      <%- include('./includes/footer.ejs') %>