<%- include('./includes/header.ejs') %>
  <%- include('./includes/middle-head-body.ejs') %>
    <%- include('./includes/page-title.ejs') %>
      <div id="inicio-main" class="main">
        <div class="flex-row-container">
          <p class="font-2-6">#Pipafin</p>
        </div>
      </div>
      <%- include('./includes/footer.ejs') %>