.alert {
  height: auto;
  font-size: 1.2rem;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  line-height: 1.5;
}

.alert-danger {
  background-color: var(--danger-background-alert);
  color: var(--danger-foreground-alert);
  border-color: var(--danger-foreground-alert);
}

.message {
  flex-grow: 1;
}
