:root {
  --pipa-blue: #007bbee0;
  --primary-color: #0059bee0;
  --top-bar-height: 51.75px;
  --top-bar-icon-size: 36px;
  --border-color: lightgray;
  --text-color: #3b3d41;
  --danger-background-alert: #f8d7da;
  --danger-foreground-alert: #ab3f3f;
  --danger-background: #ab3f3f;
  --success-background: #1a7d57;
  --icon-warning-background: #ffbc00;
  --icon-error-background: var(--danger-background);
  --icon-info-background: var(--primary-color);
  --gray-background: #e7e7e7;
  --third-action: #ff8300e0;
  font-family: 'Arial' !important;
  font-weight: 500 !important;
  font-size: 10px !important;
  line-height: 1.5px !important;
}
