.btn {
  border: none;
  background-color: white;
  font-weight: 600;
  padding: 10 10 10 10px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  transform: scale(1.1) translateY(2px);
}

.btn-shadown-hover {
  box-shadow: 7px 9px 10px 0px grey;
}

.btn-white {
  color: white;
}

.btn-round {
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-border {
  border: 1px solid;
  border-color: black;
}
