.card {
  border: 1px solid var(--border-color);
  box-shadow: 7px 9px 10px 0px grey;
  border-radius: 8px;
  padding: 10px;
}

.card > .title {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

.card > .subtitle {
  color: grey;
  padding: 5px;
  font-weight: 500;
  font-size: 1.2em;
}

.card > .body {
  padding: 5px;
}
