.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-row-container-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.flex-right {
  align-items: right;
}

.flex-center {
  align-items: center;
}

.flex-left {
  align-items: flex-start;
}

.flex-content-right {
  justify-content: right;
}

.flex-content-left {
  justify-content: left;
}

.flex-content-center {
  justify-content: center;
}

.box-1 {
  flex-grow: 1;
}

.box-2 {
  flex-grow: 2;
}

.box-3 {
  flex-grow: 3;
}

.box-4 {
  flex-grow: 4;
}

.box-5 {
  flex-grow: 5;
}

.box-6 {
  flex-grow: 6;
}

.box-7 {
  flex-grow: 7;
}

.box-8 {
  flex-grow: 8;
}

.box-9 {
  flex-grow: 9;
}

.box-10 {
  flex-grow: 10;
}

.box-11 {
  flex-grow: 11;
}

.box-12 {
  flex-grow: 12;
}

.box-s1 {
  flex-shrink: 1;
}

.box-s2 {
  flex-shrink: 2;
}
