<div class="flex-column-container w-90 m-auto py-20">
  <div class="modal-title">
    <p>Cadastro de títulos</p>
    <hr />
  </div>
  <div class="flex-row-container">
    <div class="form-group">
      <label for="inputNumeroTitulo">Número</label>
      <input type="text" class="form-control" id="inputNumeroTitulo">
    </div>
    <div class="form-group">
      <label for="inputValorTitulo">Valor</label>
      <input type="text" class="form-control" id="inputValorTitulo">
    </div>
    <div class="form-group w-100">
      <label for="inputDescricaoTitulo">Descricao</label>
      <input type="text" class="form-control" id="inputDescricaoTitulo">
    </div>
    <div class="form-group">
      <label for="inputTipoTitulo">Tipo</label>
      <input type="text" class="form-control" id="inputTipoTitulo">
    </div>
    <div class="form-group box-1">
      <label for="inputDataVencimento">Data Vcto</label>
      <input type="date" class="form-control" id="inputDataVencimento">
    </div>
  </div>
  <div class="flex-row-container flex-content-right">
    <div class="btn btn-font-white btn-round btn-primary pointer">Salvar</div>
    <div class="btn btn-font-white btn-round btn-danger pointer">Cancelar</div>
  </div>
</div>