<%- include('../includes/header.ejs') %>
  <script defer type="module" src="/components/business/titulo/titulo.component.js"></script>
  <%- include('../includes/middle-head-body.ejs') %>
    <%- include('../includes/page-title.ejs') %>
      <div id="titulo-main" class="main">
        <div class="flex-row-container-reverse w-98 m-auto my-2" id="titulos__btn-actions">
          <button class="btn btn-font-white btn-round btn-third-action pointer" id="titulos__btn-pagar" type="button">
            Registrar pagamento</button>
          <button class="btn btn-font-white btn-round btn-danger pointer" id="titulos__btn-excluir" type="button">
            Excluir Título</button>
          <button class="btn btn-font-white btn-round btn-primary pointer" id="titulos__btn-editar" type="button">
            Editar Título</button>
          <button class="btn btn-font-white btn-round btn-success pointer" id="titulos__btn-criar" type="button">
            Criar Título</button>
        </div>
      </div>
      <%- include('../includes/footer.ejs') %>