<div class="flex-column-container">
  <div class="modal-title">
    <p>Cadastro de títulos</p>
    <hr />
  </div>
  <form id="tituloDetail">
    <div class="flex-row-container">
      <div class="form-group w-50">
        <label for="inputNumeroTitulo">Número</label>
        <input type="text" class="form-control" id="inputNumeroTitulo" name="numero">
      </div>
      <div class="form-group w-50">
        <label for="inputValorTitulo">Valor</label>
        <input type="text" class="form-control" id="inputValorTitulo" name="valor">
      </div>
      <div class="form-group w-100">
        <label for="inputDescricaoTitulo">Descricao</label>
        <input type="text" class="form-control" id="inputDescricaoTitulo" name="descricao">
      </div>
      <div class="form-group w-50">
        <label for="inputTipoTitulo">Tipo</label>
        <select class="form-control" id="inputTipoTitulo" name="tipo">
          <option value="PAGAR">Pagar</option>
          <option value="RECEBER">Receber</option>
        </select>
      </div>
      <div class="form-group w-50">
        <label for="inputDataVencimento">Data Vcto</label>
        <input type="date" class="form-control" id="inputDataVencimento" name="dataVencimento">
      </div>
      <div class="form-group w-50">
        <label for="inputDataPagamento">Data Pgto</label>
        <input type="date" class="form-control" id="inputDataPagamento" name="dataPagamento">
      </div>
      <div class="form-group w-50">
        <label for="inputSituacaoTitulo">Situacao</label>
        <select class="form-control" id="inputSituacaoTitulo" name="situacao">
          <option value="ABERTO">Aberto</option>
          <option value="PAGO">Pago</option>
        </select>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <div class="flex-row-container flex-content-right">
      <button type="button" class="btn btn-font-white btn-round btn-success" id="btnSalvarTitulo">Salvar</button>
      <button type="button" class="btn btn-font-white btn-round btn-danger" id="btnCancelarEdicao">Cancelar</button>
    </div>
  </div>
  <div id="alertTituloDetail" class="alert alert-danger hidden my-2" role="alert">
    <div id="messageTituloDetail"></div>
    <div id="closeAlertTituloDetail" class="icon icon-close icon-24 icon-danger-alert icon-click pointer"></div>
  </div>
</div>